/*
	Awesome Responsive Template
	templatestock.co
*/


$purple: #7467ae;
$darkpurple: #544a82;
$gray: #f8f8f8;
$lightgray: rgba(238, 238, 238, 0.85);
$offwhite: rgba(248,248,255, 1);
$blue: #50C4ED;
$transparentblue: rgba(80, 196, 237, 0.75);
$transparentpurple: rgba(116, 103, 174, 0.75);
$transparentdarkpurple: rgba(84, 74, 130, 0.2);

/* Typography CSS */

body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1, .header-h1
{
	font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline
{
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: $purple;
}

.logo-div a
{
    color: #fff !important;
    font-size: 28px;
    margin-top: 5px;
}

/* .navbar-nav li:nth-last-child(1) a
{
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
} */

.top-right-menu-ul
{
	margin-top: 5px;
  margin-bottom: 5px;
}

.slide-text
{
	color: #fff;
	margin-top: 80px;
}

.slide-text h1
{
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 18px;
}

.slide-text p
{
	font-size: 17px;
}


/* Features CSS */
.features-div
{
	text-align: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.features-div:hover
{
	margin-top: -10px;
}


.features-div i
{
	font-size: 35px;
    font-weight: 300;
    color: $purple;
}

.features-div h4
{
    color: #393939;
    font-weight: 400;
}

.features-div p
{
    color: #636363;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.more-features-div
{
    margin-top: 40px;
	overflow: hidden;
}

.more-feature-div
{
    background: #f8f8f8;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;	
    margin: 70px 0px;
    margin-bottom: 0px;      
    padding: 50px 0px;  
}

.more-feature-div .col-md-6 img
{
    width: 100%;
}


.more-features-div-icon {
    float: left;
    width: 60px;
    height: 60px;
    padding-top: 6px;
    background: #7467ae;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    text-align: center;
}

.more-features-div-heading {
    float: right;
    width: 86%;
    margin-top: 0;
    font-weight: 400;    
}

.more-features-div-description
{
	float: right;
    width: 86%;
    font-weight: 300;
}

/* Services CSS */

.services-box-gray {
  background-color: $gray;
}

.services-box-lightgray {
  // background-color: $lightgray;
  @media screen and (max-width: 992px) {
    background-color: $lightgray;
  }
}

.services-box
{
  position: relative;
  width: 100%;
  text-align: justify;
  padding: 15px 0px;
  // img {
  //   position: relative;
  //   pointer-events: none;
  //   width: 100%;
  // }
}

.services-box i
{
    line-height: 75px;
    font-size: 50px;
}

.services-box h4
{
	font-size: 18px;
    font-weight: 400;
}

.services-box p
{
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

/* Price Table CSS */

.pricing-box {
    background: #f8f8f8;
    text-align: center;
    margin-bottom: 0px;
}

.pricing-box-price {
    position: relative;
    padding: 20px 0 7px 0;
    background: #eee;
    font-size: 42px;
    color: #555;
    line-height: 54px;
}

.pricing-box-price span {
    font-size: 18px;
    color: #888;
    line-height: 32px;
}

.pricing-box-price strong
{
	font-weight: 500;
}

.pricing-box h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    background: #eee;
    color: #888;
}

.pricing-box h4 {
    margin-top: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
    background: #e8e8e8;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    // text-transform: uppercase;
}

.pricing-box-features ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pricing-box-features li {
    padding: 7px 20px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.btn-link-1 {
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 20px 0 20px;
    background: #544a82;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.pricing-box-sign-up {
    padding: 25px 0;
}

.pricing-box-best .pricing-box-price {
    background: #7467ae;
    color: #fff;
}

.pricing-box-best .pricing-box-price span {
    color: #fff;
}

.pricing-box-best h3 {
    background: #7467ae;
    color: #fff;
}

.pricing-box-best h4 {
    background: #544a82;
    color: #fff;
}

/* Call Action */
.call-action-bg
{
  background-color: $blue;
	margin:60px 0px; 
  text-align: justify;
  padding-bottom: 50px;
  // font-size: 24px;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.95);
  sup {
    font-size: 14px;
    opacity: 0.65;
    // margin-top: -24px;
  }
}

.call-action-color {
    background-color: #7467ae;
    /* background-color: #544a82; */
    margin: 60px 0px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}

.call-action-color .main_heading h1
{
	color: #fff;
}

.call-action-color .underline
{
	background-color: #fff;
}

.call-action-bg .main_heading h1
{
	color: #fff;
}

.call-action-bg .underline
{
	background-color: #fff;
}

/* About */
.about-us-box {
    padding-top: 30px;
    padding-bottom: 15px;
    // text-align: center;
    text-align: justify;
}

.about-us-box .about-us-photo {
    position: relative;
    width: 160px;
    margin: 0 auto;
}


.about-us-box .about-us-photo .about-us-role {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 3px 5px;
    background: #544a82;
    font-size: 14px;
    color: #fff;
    line-height: 15px;
    text-transform: uppercase;
}

.about-us-box .about-us-social a {
    color: #ddd;
}

.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 25px;
    line-height: 36px;
}

.about-us-box h3
{
	font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.about-us-box p
{
	font-size: 16px;
    // text-align: center;
    font-weight: 300;
    line-height: 25px;
}


/* Footer */

footer {
    padding: 48px 0 30px 0;
    text-align: center;    
    margin-bottom: 10px;
}


// facebook, linkedin, instagram (small icons)

.social-media-icons {
  font-size: 30px;
  line-height: 50px;
  svg {
    margin: 12px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.4s ease, color 0.4s ease;
    color: #333;
    &:hover {
      color: #444;
      transform: translateY(-1px);
    }
  }
  a {
    color: #878787;
  }
}



// facebook, linkedin, instagram (large icons)

.social-media-icons-large {
  display: flex;
  justify-content: center;
  font-size: 38px;
  line-height: 50px;
  svg {
    margin: 12px;
    cursor: pointer;
    user-select: none;
    color: $darkpurple;
    transition: all 0.4s ease;
    &:hover {
      color: $purple;
      transform: translateY(-2px);
      @media screen and (max-width: 992px) {
        transform: scale(1.25) translateY(-2px);
      }
    }
    @media screen and (max-width: 992px) {
      margin: 18px;
      transform: scale(1.25);
    }
  }
}


/* Bootstrap CSS */
.navbar-default {
    background-color: #7467ae;
    border-color: transparent;
    margin-bottom: 0px;
}

.navbar-nav li a
{
	color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/* Extra Small devices  */
@media (max-width: 480px) {
	.more-features-div-description, .more-features-div-heading
	{
		width: 80%;
	}
		// .header-div
	// {
	// 	height: 350px;
	// }

	.slide-text {
	    color: #fff;
    	margin-top: 35px;
	}
	.slide-text p {
    	font-size: 12px;
	}

	.slide-text h1 {
	    line-height: 25px;
    	font-size: 25px;
	}
}

/* Extra Small devices  */
@media (max-width: 767px) {
	.slide-text h1
	 {
	 	line-height: 30px;
    	font-size: 30px;
	 }

	 .slide-text p {
    	font-size: 13px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	 .pricing-box
	 {
	 	margin-bottom: 20px;
	 }

	 .slide-text h1
	 {
	 	line-height: 45px;
    	font-size: 45px;
	 }

	 .slide-text p {
    	font-size: 15px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .row-flex {
    display: flex;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/* Typography CSS */

body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1
{
	font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline
{
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: #7467ae;
}

/* Header CSS */

/* .header-div
{
	height: 550px;
    background-color: #7467ae;
} */

.logo-div a
{
    color: #fff !important;
    font-size: 28px;
    margin-top: 5px;
}

/* .navbar-nav li:nth-last-child(1) a
{
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
} */

// .top-right-menu-ul
// {
// 	margin-top: 10px;
// }

.slide-text
{
	color: #fff;
	margin-top: 80px;
}

.slide-text h1
{
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 18px;
}

.slide-text p
{
	font-size: 17px;
}


/* Features CSS */
.features-div
{
	text-align: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.features-div:hover
{
	margin-top: -10px;
}


.features-div i
{
	font-size: 35px;
    font-weight: 300;
    color: #7467ae;
}

.features-div h4
{
    color: #393939;
    font-weight: 400;
}

.features-div p
{
    color: #636363;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.more-features-div
{
    margin-top: 40px;
	overflow: hidden;
}

.more-feature-div
{
    background: #f8f8f8;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;	
    margin: 70px 0px;
    margin-bottom: 0px;      
    padding: 50px 0px;  
}


.more-features-div-icon {
    float: left;
    width: 60px;
    height: 60px;
    padding-top: 6px;
    background: #7467ae;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    text-align: center;
}

.more-features-div-heading {
    float: right;
    width: 86%;
    margin-top: 0;
    font-weight: 400;    
}

.more-features-div-description
{
	float: right;
    width: 86%;
    font-weight: 300;
}

// /* Services CSS */
// .services-box-gray {
//     background: #f8f8f8;
// }

// .services-box
// {
//     // text-align: center;
//     text-align: justify;
//     padding: 15px 0px;
// }

// .services-box i
// {
//     line-height: 75px;
//     font-size: 50px;
// }

// .services-box h4
// {
// 	font-size: 18px;
//     font-weight: 400;
// }

// .services-box p
// {
//     font-size: 15px;
//     font-weight: 300;
//     line-height: 25px;
// }

/* Price Table CSS */

.pricing-box {
    background: #f8f8f8;
    text-align: center;
}

.pricing-box-price {
    position: relative;
    padding: 20px 0 7px 0;
    background: #eee;
    font-size: 42px;
    color: #555;
    line-height: 54px;
}

.pricing-box-price span {
    font-size: 18px;
    color: #888;
    line-height: 32px;
}

.pricing-box-price strong
{
	font-weight: 500;
}

.pricing-box h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    background: #eee;
    color: #888;
}

.pricing-box h4 {
    margin-top: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
    background: #e8e8e8;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    // text-transform: uppercase;
}

.pricing-box-features ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pricing-box-features li {
    padding: 7px 20px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.btn-link-1 {
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 20px 0 20px;
    background: #544a82;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.pricing-box-sign-up {
    padding: 25px 0;
}

.pricing-box-best .pricing-box-price {
    background: #7467ae;
    color: #fff;
}

.pricing-box-best .pricing-box-price span {
    color: #fff;
}

.pricing-box-best h3 {
    background: #7467ae;
    color: #fff;
}

.pricing-box-best h4 {
    background: #544a82;
    color: #fff;
}

/* Call Action */
// .call-action-bg
// {
// 	// background-image: url(../images/dashboard-img.jpg);
//   background: $blue;
// 	margin:60px 0px; 
//     text-align: center;
//     padding-bottom: 50px;
//     font-size: 16px;
//     line-height: 30px;
//     font-weight: 300;
// 	background-size: cover;    
// }

.call-action-color {
    background-color: #7467ae;
    /* background-color: #544a82; */
    margin: 60px 0px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}

.call-action-color .main_heading h1
{
	color: #fff;
}

.call-action-color .underline
{
	background-color: #fff;
}

.call-action-bg .main_heading h1
{
	color: #fff;
}

.call-action-bg .underline
{
	background-color: #fff;
}

/* About */

.about-us-box {
    padding-top: 30px;
    padding-bottom: 15px;
    // text-align: center;
}

.about-us-box .about-us-photo {
    position: relative;
    width: 160px;
    margin: 0 auto;
}

.about-us-box .about-us-photo .about-us-role {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 3px 5px;
    background: #544a82;
    font-size: 14px;
    color: #fff;
    line-height: 15px;
    text-transform: uppercase;
}

.about-us-box .about-us-social a {
    color: #ddd;
}

.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 25px;
    line-height: 36px;
}

.about-us-box h3
{
	font-size: 24px;
    font-weight: 400;
}

.about-us-box p
{
	font-size: 16px;
    // text-align: center;
    font-weight: 300;
    line-height: 25px;
}


/* Footer */

// footer {
//     padding: 40px 0 35px 0;
//     text-align: center;    
//     margin-bottom: 10px;
// }

// .footer-social {
//     font-size: 30px;
//     line-height: 50px;
// }

// .footer-social  a
// {
//     color: #878787;
// }



/* Bootstrap CSS */
.navbar-default {
    background-color: #7467ae;
    /* background-color: transparent; */
    border-color: transparent;
    margin-bottom: 0px;
}

.navbar-nav li a
{
	color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
}


// vueper-slide (carousel) custom CSS

.vueperslides__parallax-wrapper {
  padding-bottom: 0px !important;
  margin-bottom: 48px;
}

.vueperslides__track {
  position: relative !important;
  margin-left: 24px;
  margin-right: 24px;
  @media (min-width: 768px) {
    margin-left: 48px;
    margin-right: 48px;
  }
  @media (min-width: 992px) { 
    margin-left: 192px;
    margin-right: 192px;
  }
}

.vueperslide__content-wrapper {
  padding-left: 12px;
  padding-right: 12px;
}

.vueperslide__content {
  text-align: justify;
}

.vueperslide {
  transition: opacity 0.25s ease;
  opacity: 0;
}

.vueperslide--active {
  transition: opacity 1.25s ease;
  opacity: 1;
}

.vueperslides__arrows--outside {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.vueperslides__arrows {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.vueperslides__arrow--prev {
  left: -24px !important;
  @media (min-width: 992px) { 
    left: 0px !important;
  }
}

.vueperslides__arrow--next {
  right: -24px !important;
  @media (min-width: 992px) { 
    right: 0px !important;
  }
}





// ratio boxes

.ratio-1-1 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ratio-1-1::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 100%;
}

.ratio-1-1::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}



// services section
/*
.service-card {
  @media (max-width: 992px) {
    margin-bottom: 48px;
  }
}
*/

.service-card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.toggle-btn {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-weight: 450;
  opacity: 0.95;
  @media screen and (max-width: 992px) {
    font-size: 16px !important;
  }
}



// 3:2 ratio boxes only used for service cards.

.ratio-3-2 {
  display: flex;
  box-sizing: border-box;
  align-self: flex-start;
}

.ratio-3-2::before {
  @media screen and (min-width: 993px) {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: (3 / 2) * 100%;
  }
}

.ratio-3-2::after { /* to clear float */
  @media screen and (min-width: 993px) {
  content: "";
  display: table;
  clear: both;
  }
}




// about me section


.about-me-photo {
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-self: flex-start;
  background-image: url('../images/HM-Web-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
  box-shadow: 5px 5px 1px $transparentblue;
}

.about-me-photo::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: (160 / 107) * 100%;
}

.about-me-photo::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}

.about-me-underline {
  position: absolute;
  height: 4px;
  width: 195px;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $purple;
  opacity: 0.95;
  display: none;
}

.about-me-h2 {
  font-weight: 450;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #555;
  text-align: center;
}

// prices

.price-card {
  @media (max-width: 991px) {
    margin-bottom: 48px;
  }
}

.price-row {
  padding-top: 18px;
  padding-bottom: 72px;
  @media screen and (max-width: 992px) {
    padding-bottom: 0px;
  }
}

.contact-button-row {
  margin-top: 82px;
  @media screen and (max-width: 992px) {
    margin-top: 12px;
  }
}

.price-info-row {
  margin-top: 48px;
  opacity: 0.85;
  font-size: 16px;
  @media screen and (max-width: 992px) {
    margin-top: 0px;
    margin-bottom: 48px;
  }
}

.social-media-icons-row {
  margin-top: 24px;
  margin-bottom: 32px;
  @media screen and (max-width: 992px) {
    margin-bottom: 48px;
  }
}





// contact form

.contact-form {
  label, button {
    text-transform: uppercase;
    font-weight: 450;
  }
}

.contact-form-logo {
  background-image: url('../images/main-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
}





// transition classes

// $form-grey: #888888;

.hover-shadow {
  transition: transform 0.4s ease, text-shadow 0.4s ease, border-color 0.4s ease;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  &:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 0.5px rgba(255, 255, 255, 0.75);
    transform: translateY(-2px);
    border-color: white;
  }
  &.hover-shadow-dark {
    padding-bottom: 8px !important;
    &:hover {
      text-shadow: 0 0 1px rgba(136, 136, 136, 0.3), 0 0 0.5px rgba(136, 136, 136, 0.5);
      transform: translateY(-2px);
      border-color: rgba(0, 0, 0, 0.8);   
    }
  }
}

.contact-me-button {
  color: white;
  background-color: $purple;
  width: 100%;
  height: 100%;
  padding: 16px;
  font-size: 28px;
  font-weight: 425;
  transition: all 0.4s ease;
  border-bottom: 4px solid transparent;
  &:hover {
    color: white;
    text-shadow: 0 0 5px $darkpurple, 0 0 5px $darkpurple;
    border-bottom-color: $darkpurple;
    transform: translateY(-4px);
  }
  // make button larger on mobile.
  @media screen and (max-width: 992px) {
    padding: 32px;
  }
}





